{% extends "main.html" %}
{% block title %}review_list{% endblock %}
{% block contents %}
<script type="text/javascript">
    $("buttonSearch").click(function(){
        var search = $("search").val();
        var searchValue = $("searchValue").val();
        var sortMethod = "{{sort_method}}";
        var page = "{{page}}";
        if(searchValue == ""){
            return false;
        }else{
            self.location.href = "{{url_for('board.review_list')}}?page="+page+"&search="+search+"&seachValue="+searchValue+"&sortMethod="+sortMethod;
        }
    });
    $("time").click(function(){
        var sortMethod = $("time").data("method");
        var search = "{{search}}";
        var searchValue = "{{searchValue}}";
        var page = "{{page}}";
        self.location.href = "{{url_for('board.review_list')}}?page="+page+"&search="+search+"&searchValue="+searchValue+"&sortMethod="+sortMethod;

    });
    $("recommend").click(function(){
        var sortMethod = $("recommend").data("method");
        var search = "{{search}}";
        var seachValue = "{{searchValue}}";
        var page = "{{page}}"
        self.location.href = "{{url_for('board.review_list')}}?page="+page+"&search="+search+"&searchValue="+searchValue+"&sortMethod="sortMethod;
    });
</script>
<table class="table">
    <thead>
        <tr>
            <th>번호</th>
            <th>제목</th>
            <th>작성자</th>
            <th>추천수</th>
            <th>작성시간</th>
        </tr>
    </thead>
    <tbody>
        {% for review in review_list %}
        <td>{{loop.index + (page-1) * limit}}</td>
        <td>{{review.title}}</td>
        <td>{{review.user_name}}</td>
        <td>{{review.recommend_count}}</td>
        <td>{{review.pub_time | formatdatetime }}</td>
        {% endfor %}
    </tbody>
</table>
<ul class="pagination justfy-content-center">
{% if block_start > 1 %}
    <li class="page-item"><a class="page-link" href="{{url_for('board.review_list', page=(block_start-1), search=search, searchValue=search_value, sortMethod=sort_mehtod)}}">이전</a></li>
{% endif %}
{% for i in range(block_start, block_end+1) %}
    {% if i == page %}
        <li class="page-item"><a class="page-link active text-warning" disabled>{{i}}</a></li>
    {% else %}
    {% if i <= last_page_num %}
        <li class="page-item"><a class="page-link" href="{{url_for('board.review_list', page=i, search=search, searchValue=search_value, sortMethod=sort_mehtod)}}">{{i}}</a></li>
    {% endif %}
    {% endif %}
{% endfor %}
{% if block_end < last_page_num %}
    <li class="page-item"><a class="page-link" href="{{url_for('board.review_list', page=(block_end+1), search=search, searchValue=search_value, sortMethod=sort_mehtod)}}">다음</a></li>
{% endif %}
</ul>
<select id="search" name="search">
    <option value="1">제목</option>
    <option value="2">내용</option>
    <option value="3">제목+내용</option>
    <option value="4">작성자</option>
</select>
<input type="text" id="searchValue" name="searchValue" />
<a href="#" id="searchButton" name="searchButton" class="btn btn-primary">검색</a>
{% if sort_mehtod == "recommend" %}
<a href="#" id="time" name="time" class="btn btn-primary">시간순</a>
{% elif sort_method == "time" %}
<a href="#" id="recommend" name="recommend" class="btn btn-primary">추천순</a>
{% endif %}
<a href="{{url_for('board.write_review')}}" class="btn btn-primary">글 작성하기</a>
{% endblock contents %}